:root {
	--primary-blue: hsl(215,51%,70%);
	--primary-cyan: hsl(178, 100%,50%);
	--main-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--line: hsl(215, 32%, 27%);

	--fs-300: 1rem;
	--fs-400: 1.125rem;
	--fs-600: rem: 1.375rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

html {
	font-size: var(--fs-300);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
a {
	margin: 0;
}

a:hover, a, a:active, a:visited, a:focus {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Outfit', sans-serif;
	color: #fff;
	background-color: var(--main-bg);
}

main {
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	padding: 1.5625rem;
	height: auto;
	width: 90%;
	max-width: 17.375rem;
	background: var(--card-bg);
	margin: auto;
	border-radius: 1rem;
	z-index: 1;
}

.card__image {
	position: relative;
	border-radius: 12px;
	overflow: hidden;
}

.card__image-effect {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	cursor: pointer;
}

.card__image:hover .card__image-effect, 
.card__image:focus .card__image-effect,
.card__creator:active .card__image-effect{
	opacity: 1;
}


.card__title{
	margin-top: 1.75rem;
}

.card__title a {
	font-size: 22px;
}

.card__title a:hover, .card__title a:active, .card__title a:focus {
	color: var(--primary-cyan);
}

.card__description {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	font-size: 18px;
	line-height: 1.6;
	color: var(--primary-blue);
}

.card__info {
	display: flex;
	justify-content: space-between;
}

.card__creator {
	display: flex;
	align-items: center;
	margin-top: 1rem;
}
.card__creator h2 {
	font-size: 18px;
	font-weight: 300;
	color: var(--primary-blue);
}

.card__creator h2 a {
	color: #fff;
}

.card__creator h2 a:hover, .card__creator h2 a:focus, .card__creator h2 a:active{
	color: var(--primary-cyan);
}
hr {
	margin: 1rem 0;
	border: 1px solid var(--line);
}

.card__creator-img {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 1px solid #fff;
	margin-right: 1rem;
}

.card__info-desc {
	display: flex;
	align-items: center;
	color: var(--primary-cyan);
}

.card__info-desc img {
	display: inline-block;
	margin-right: 8px;
}

.card__info-date{
		display: flex;
	align-items: center;
	color: var(--primary-blue);
}

.card__info-date img {
	margin-right: 8px;
}
